<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2>Produtos Cadastrados</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_produtos %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>R$ {{ item.preco }}</td>
                <td><button type="button" class="btn btn-primary" onclick="location.href='{% url 'verificar_produto' id=item.id %}'">Visualizar Informações</button></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum produto cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
